@model DA_LTW.Models.Tour

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_tour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.People)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.People)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_guide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_guide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Started_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Started_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTour">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
