@model IEnumerable<Tour>
@{
    
}
<style>
    .card{
        margin-top: 2rem;
    }
</style>
<section class="section-tours">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">Most popular tours</h2>
    </div>

    <div class="row">
        @{
            int num = 1;
            foreach (var i in Model)
            {
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--@num">&nbsp;</div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--@num">
                                    @i.Name_tour
                                </span>
                            </h4>
                            <div class="card__details">

                                <ul>
                                    <li>@i.TotalDay day tours</li>
                                    <li>Up to @i.People People</li>
                                    <li>Tour guide: @i.Tour_guide</li>
                                    <li>Sleep in cozy @i.stay.ToLower()</li >
                                    <li>Difficulty: @i.Difficult</li>
                                </ul>

                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-@num">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$@i.Price</p>
                                </div>

                                <a asp-controller="Tours" asp-action="Details" asp-route-id="@i.IdTour" class="btn btn--white">
                                    Book now!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                if(num < 3)
                {
                    num++;
                }
                else
                {
                    num = 1;
                }
            }
        }
    </div>
</section>
