@model DA_LTW.Models.Tour

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h2>Bạn được trải nghiệm gì?</h2>
    <p>@Model.Detail</p>
<ul>
    <li><p style="font-weight: bold; font-size:2rem;">Thời lượng tour: <span>@Model.TotalDay Ngày</span></p></li>
    <li><p style="font-weight: bold; font-size:2rem;">Độ khó: <span>@Model.Difficult</span></p></li>
    <li><p style="font-weight: bold; font-size:2rem;">Số khách: <span>@Model.People người</span></p></li>
    <li><p style="font-weight: bold; font-size:2rem;">Hướng dẫn viên: <span>Leader @Model.Tour_guide</span></p></li>
</ul>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.IdTour">Edit</a> |*@
    <a asp-action="Booking" asp-controller="Tours" asp-route-id="@Model.IdTour">Book now</a>
</div>
